<div>
  <h2 id="page-heading" data-cy="MaquinarioHeading">
    <span jhiTranslate="uNextApp.maquinario.home.title">Maquinarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="uNextApp.maquinario.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-maquinario"
        [routerLink]="['/maquinario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="uNextApp.maquinario.home.createLabel"> Create a new Maquinario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="maquinarios?.length === 0">
    <span jhiTranslate="uNextApp.maquinario.home.notFound">No maquinarios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="maquinarios && maquinarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span jhiTranslate="uNextApp.maquinario.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modelo">
            <span jhiTranslate="uNextApp.maquinario.modelo">Modelo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="anoFabricacao">
            <span jhiTranslate="uNextApp.maquinario.anoFabricacao">Ano Fabricacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="capacidadeLitro">
            <span jhiTranslate="uNextApp.maquinario.capacidadeLitro">Capacidade Litro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="volumeMinuto">
            <span jhiTranslate="uNextApp.maquinario.volumeMinuto">Volume Minuto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descricao">
            <span jhiTranslate="uNextApp.maquinario.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="historicoLocacao.id">
            <span jhiTranslate="uNextApp.maquinario.historicoLocacao">Historico Locacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoMaquinario.descricao">
            <span jhiTranslate="uNextApp.maquinario.tipoMaquinario">Tipo Maquinario</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let maquinario of maquinarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/maquinario', maquinario.id, 'view']">{{ maquinario.id }}</a>
          </td>
          <td>{{ maquinario.nome }}</td>
          <td>{{ maquinario.modelo }}</td>
          <td>{{ maquinario.anoFabricacao | formatMediumDate }}</td>
          <td>{{ maquinario.capacidadeLitro }}</td>
          <td>{{ maquinario.volumeMinuto }}</td>
          <td>{{ maquinario.descricao }}</td>
          <td>
            <div *ngIf="maquinario.historicoLocacao">
              <a [routerLink]="['/historico-locacao', maquinario.historicoLocacao?.id, 'view']">{{ maquinario.historicoLocacao?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="maquinario.tipoMaquinario">
              <a [routerLink]="['/tipo-maquinario', maquinario.tipoMaquinario?.id, 'view']">{{ maquinario.tipoMaquinario?.descricao }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/maquinario', maquinario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/maquinario', maquinario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(maquinario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
