<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="carteira">
      <h2 data-cy="carteiraDetailsHeading"><span jhiTranslate="uNextApp.carteira.detail.title">Carteira</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ carteira.id }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.carteira.titular">Titular</span></dt>
        <dd>
          <span>{{ carteira.titular }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.carteira.numeroConta">Numero Conta</span></dt>
        <dd>
          <span>{{ carteira.numeroConta }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.carteira.tipoCarteira">Tipo Carteira</span></dt>
        <dd>
          <div *ngIf="carteira.tipoCarteira">
            <a [routerLink]="['/tipo-carteira', carteira.tipoCarteira?.id, 'view']">{{ carteira.tipoCarteira?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="uNextApp.carteira.cliente">Cliente</span></dt>
        <dd>
          <div *ngIf="carteira.cliente">
            <a [routerLink]="['/cliente', carteira.cliente?.id, 'view']">{{ carteira.cliente?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="uNextApp.carteira.parceiro">Parceiro</span></dt>
        <dd>
          <div *ngIf="carteira.parceiro">
            <a [routerLink]="['/parceiro', carteira.parceiro?.id, 'view']">{{ carteira.parceiro?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/carteira', carteira.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
