<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cliente">
      <h2 data-cy="clienteDetailsHeading"><span jhiTranslate="uNextApp.cliente.detail.title">Cliente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cliente.id }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.nome">Nome</span></dt>
        <dd>
          <span>{{ cliente.nome }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.sobrenome">Sobrenome</span></dt>
        <dd>
          <span>{{ cliente.sobrenome }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.cpfcnpj">Cpfcnpj</span></dt>
        <dd>
          <span>{{ cliente.cpfcnpj }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.tefelone">Tefelone</span></dt>
        <dd>
          <span>{{ cliente.tefelone }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.email">Email</span></dt>
        <dd>
          <span>{{ cliente.email }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.rua">Rua</span></dt>
        <dd>
          <span>{{ cliente.rua }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.numero">Numero</span></dt>
        <dd>
          <span>{{ cliente.numero }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.bairro">Bairro</span></dt>
        <dd>
          <span>{{ cliente.bairro }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.cep">Cep</span></dt>
        <dd>
          <span>{{ cliente.cep }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.cidade">Cidade</span></dt>
        <dd>
          <span>{{ cliente.cidade }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.estado">Estado</span></dt>
        <dd>
          <span>{{ cliente.estado }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.cliente.user">User</span></dt>
        <dd>
          <span>{{ cliente.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cliente', cliente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
