<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="historicoLocacao">
      <h2 data-cy="historicoLocacaoDetailsHeading"><span jhiTranslate="uNextApp.historicoLocacao.detail.title">Historico Locacao</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ historicoLocacao.id }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.historicoLocacao.data">Data</span></dt>
        <dd>
          <span>{{ historicoLocacao.data | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.historicoLocacao.tempoLocacao">Tempo Locacao</span></dt>
        <dd>
          <span>{{ historicoLocacao.tempoLocacao }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.historicoLocacao.valorTotal">Valor Total</span></dt>
        <dd>
          <span>{{ historicoLocacao.valorTotal }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.historicoLocacao.fornecedor">Fornecedor</span></dt>
        <dd>
          <span>{{ historicoLocacao.fornecedor }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.historicoLocacao.cliente">Cliente</span></dt>
        <dd>
          <div *ngIf="historicoLocacao.cliente">
            <a [routerLink]="['/cliente', historicoLocacao.cliente?.id, 'view']">{{ historicoLocacao.cliente?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="uNextApp.historicoLocacao.parceiro">Parceiro</span></dt>
        <dd>
          <div *ngIf="historicoLocacao.parceiro">
            <a [routerLink]="['/parceiro', historicoLocacao.parceiro?.id, 'view']">{{ historicoLocacao.parceiro?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/historico-locacao', historicoLocacao.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
