<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tipoCarteira">
      <h2 data-cy="tipoCarteiraDetailsHeading"><span jhiTranslate="uNextApp.tipoCarteira.detail.title">Tipo Carteira</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tipoCarteira.id }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.tipoCarteira.descricao">Descricao</span></dt>
        <dd>
          <span>{{ tipoCarteira.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.tipoCarteira.bandeira">Bandeira</span></dt>
        <dd>
          <span>{{ tipoCarteira.bandeira }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tipo-carteira', tipoCarteira.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
