<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="parceiro">
      <h2 data-cy="parceiroDetailsHeading"><span jhiTranslate="uNextApp.parceiro.detail.title">Parceiro</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ parceiro.id }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.nomeFantasia">Nome Fantasia</span></dt>
        <dd>
          <span>{{ parceiro.nomeFantasia }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.razaoSocial">Razao Social</span></dt>
        <dd>
          <span>{{ parceiro.razaoSocial }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.cnpj">Cnpj</span></dt>
        <dd>
          <span>{{ parceiro.cnpj }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.tefelone">Tefelone</span></dt>
        <dd>
          <span>{{ parceiro.tefelone }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.email">Email</span></dt>
        <dd>
          <span>{{ parceiro.email }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.rua">Rua</span></dt>
        <dd>
          <span>{{ parceiro.rua }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.numero">Numero</span></dt>
        <dd>
          <span>{{ parceiro.numero }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.bairro">Bairro</span></dt>
        <dd>
          <span>{{ parceiro.bairro }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.cep">Cep</span></dt>
        <dd>
          <span>{{ parceiro.cep }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.cidade">Cidade</span></dt>
        <dd>
          <span>{{ parceiro.cidade }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.estado">Estado</span></dt>
        <dd>
          <span>{{ parceiro.estado }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.parceiro.user">User</span></dt>
        <dd>
          <span>{{ parceiro.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/parceiro', parceiro.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
