<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-maquinario-heading" data-cy="MaquinarioCreateUpdateHeading" jhiTranslate="uNextApp.maquinario.home.createOrEditLabel">
        Create or edit a Maquinario
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.maquinario.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.maquinario.modelo" for="field_modelo">Modelo</label>
          <input type="text" class="form-control" name="modelo" id="field_modelo" data-cy="modelo" formControlName="modelo" />
          <div *ngIf="editForm.get('modelo')!.invalid && (editForm.get('modelo')!.dirty || editForm.get('modelo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('modelo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.maquinario.anoFabricacao" for="field_anoFabricacao"
            >Ano Fabricacao</label
          >
          <div class="input-group">
            <input
              id="field_anoFabricacao"
              data-cy="anoFabricacao"
              type="text"
              class="form-control"
              name="anoFabricacao"
              ngbDatepicker
              #anoFabricacaoDp="ngbDatepicker"
              formControlName="anoFabricacao"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="anoFabricacaoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('anoFabricacao')!.invalid && (editForm.get('anoFabricacao')!.dirty || editForm.get('anoFabricacao')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('anoFabricacao')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.maquinario.capacidadeLitro" for="field_capacidadeLitro"
            >Capacidade Litro</label
          >
          <input
            type="number"
            class="form-control"
            name="capacidadeLitro"
            id="field_capacidadeLitro"
            data-cy="capacidadeLitro"
            formControlName="capacidadeLitro"
          />
          <div
            *ngIf="
              editForm.get('capacidadeLitro')!.invalid &&
              (editForm.get('capacidadeLitro')!.dirty || editForm.get('capacidadeLitro')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('capacidadeLitro')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('capacidadeLitro')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.maquinario.volumeMinuto" for="field_volumeMinuto">Volume Minuto</label>
          <input
            type="number"
            class="form-control"
            name="volumeMinuto"
            id="field_volumeMinuto"
            data-cy="volumeMinuto"
            formControlName="volumeMinuto"
          />
          <div
            *ngIf="editForm.get('volumeMinuto')!.invalid && (editForm.get('volumeMinuto')!.dirty || editForm.get('volumeMinuto')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('volumeMinuto')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('volumeMinuto')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.maquinario.descricao" for="field_descricao">Descricao</label>
          <input type="number" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.maquinario.historicoLocacao" for="field_historicoLocacao"
            >Historico Locacao</label
          >
          <select
            class="form-control"
            id="field_historicoLocacao"
            data-cy="historicoLocacao"
            name="historicoLocacao"
            formControlName="historicoLocacao"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                historicoLocacaoOption.id === editForm.get('historicoLocacao')!.value?.id
                  ? editForm.get('historicoLocacao')!.value
                  : historicoLocacaoOption
              "
              *ngFor="let historicoLocacaoOption of historicoLocacaosSharedCollection; trackBy: trackHistoricoLocacaoById"
            >
              {{ historicoLocacaoOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.maquinario.tipoMaquinario" for="field_tipoMaquinario"
            >Tipo Maquinario</label
          >
          <select
            class="form-control"
            id="field_tipoMaquinario"
            data-cy="tipoMaquinario"
            name="tipoMaquinario"
            formControlName="tipoMaquinario"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                tipoMaquinarioOption.id === editForm.get('tipoMaquinario')!.value?.id
                  ? editForm.get('tipoMaquinario')!.value
                  : tipoMaquinarioOption
              "
              *ngFor="let tipoMaquinarioOption of tipoMaquinariosSharedCollection; trackBy: trackTipoMaquinarioById"
            >
              {{ tipoMaquinarioOption.descricao }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
