<div>
  <h2 id="page-heading" data-cy="HistoricoLocacaoHeading">
    <span jhiTranslate="uNextApp.historicoLocacao.home.title">Historico Locacaos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="uNextApp.historicoLocacao.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-historico-locacao"
        [routerLink]="['/historico-locacao/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="uNextApp.historicoLocacao.home.createLabel"> Create a new Historico Locacao </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="historicoLocacaos?.length === 0">
    <span jhiTranslate="uNextApp.historicoLocacao.home.notFound">No historicoLocacaos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="historicoLocacaos && historicoLocacaos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="data">
            <span jhiTranslate="uNextApp.historicoLocacao.data">Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tempoLocacao">
            <span jhiTranslate="uNextApp.historicoLocacao.tempoLocacao">Tempo Locacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valorTotal">
            <span jhiTranslate="uNextApp.historicoLocacao.valorTotal">Valor Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fornecedor">
            <span jhiTranslate="uNextApp.historicoLocacao.fornecedor">Fornecedor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cliente.id">
            <span jhiTranslate="uNextApp.historicoLocacao.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parceiro.id">
            <span jhiTranslate="uNextApp.historicoLocacao.parceiro">Parceiro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let historicoLocacao of historicoLocacaos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/historico-locacao', historicoLocacao.id, 'view']">{{ historicoLocacao.id }}</a>
          </td>
          <td>{{ historicoLocacao.data | formatMediumDate }}</td>
          <td>{{ historicoLocacao.tempoLocacao }}</td>
          <td>{{ historicoLocacao.valorTotal }}</td>
          <td>{{ historicoLocacao.fornecedor }}</td>
          <td>
            <div *ngIf="historicoLocacao.cliente">
              <a [routerLink]="['/cliente', historicoLocacao.cliente?.id, 'view']">{{ historicoLocacao.cliente?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="historicoLocacao.parceiro">
              <a [routerLink]="['/parceiro', historicoLocacao.parceiro?.id, 'view']">{{ historicoLocacao.parceiro?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/historico-locacao', historicoLocacao.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/historico-locacao', historicoLocacao.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(historicoLocacao)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
