<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-carteira-heading" data-cy="CarteiraCreateUpdateHeading" jhiTranslate="uNextApp.carteira.home.createOrEditLabel">
        Create or edit a Carteira
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.carteira.titular" for="field_titular">Titular</label>
          <input type="text" class="form-control" name="titular" id="field_titular" data-cy="titular" formControlName="titular" />
          <div *ngIf="editForm.get('titular')!.invalid && (editForm.get('titular')!.dirty || editForm.get('titular')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('titular')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.carteira.numeroConta" for="field_numeroConta">Numero Conta</label>
          <input
            type="number"
            class="form-control"
            name="numeroConta"
            id="field_numeroConta"
            data-cy="numeroConta"
            formControlName="numeroConta"
          />
          <div *ngIf="editForm.get('numeroConta')!.invalid && (editForm.get('numeroConta')!.dirty || editForm.get('numeroConta')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroConta')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numeroConta')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.carteira.tipoCarteira" for="field_tipoCarteira">Tipo Carteira</label>
          <select class="form-control" id="field_tipoCarteira" data-cy="tipoCarteira" name="tipoCarteira" formControlName="tipoCarteira">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                tipoCarteiraOption.id === editForm.get('tipoCarteira')!.value?.id ? editForm.get('tipoCarteira')!.value : tipoCarteiraOption
              "
              *ngFor="let tipoCarteiraOption of tipoCarteirasSharedCollection; trackBy: trackTipoCarteiraById"
            >
              {{ tipoCarteiraOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.carteira.cliente" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.carteira.parceiro" for="field_parceiro">Parceiro</label>
          <select class="form-control" id="field_parceiro" data-cy="parceiro" name="parceiro" formControlName="parceiro">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="parceiroOption.id === editForm.get('parceiro')!.value?.id ? editForm.get('parceiro')!.value : parceiroOption"
              *ngFor="let parceiroOption of parceirosSharedCollection; trackBy: trackParceiroById"
            >
              {{ parceiroOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
