<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-historico-locacao-heading"
        data-cy="HistoricoLocacaoCreateUpdateHeading"
        jhiTranslate="uNextApp.historicoLocacao.home.createOrEditLabel"
      >
        Create or edit a Historico Locacao
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.historicoLocacao.data" for="field_data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('data')!.invalid && (editForm.get('data')!.dirty || editForm.get('data')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('data')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.historicoLocacao.tempoLocacao" for="field_tempoLocacao"
            >Tempo Locacao</label
          >
          <input
            type="number"
            class="form-control"
            name="tempoLocacao"
            id="field_tempoLocacao"
            data-cy="tempoLocacao"
            formControlName="tempoLocacao"
          />
          <div
            *ngIf="editForm.get('tempoLocacao')!.invalid && (editForm.get('tempoLocacao')!.dirty || editForm.get('tempoLocacao')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tempoLocacao')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('tempoLocacao')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.historicoLocacao.valorTotal" for="field_valorTotal">Valor Total</label>
          <input
            type="number"
            class="form-control"
            name="valorTotal"
            id="field_valorTotal"
            data-cy="valorTotal"
            formControlName="valorTotal"
          />
          <div *ngIf="editForm.get('valorTotal')!.invalid && (editForm.get('valorTotal')!.dirty || editForm.get('valorTotal')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('valorTotal')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('valorTotal')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.historicoLocacao.fornecedor" for="field_fornecedor">Fornecedor</label>
          <input
            type="text"
            class="form-control"
            name="fornecedor"
            id="field_fornecedor"
            data-cy="fornecedor"
            formControlName="fornecedor"
          />
          <div *ngIf="editForm.get('fornecedor')!.invalid && (editForm.get('fornecedor')!.dirty || editForm.get('fornecedor')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fornecedor')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.historicoLocacao.cliente" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="uNextApp.historicoLocacao.parceiro" for="field_parceiro">Parceiro</label>
          <select class="form-control" id="field_parceiro" data-cy="parceiro" name="parceiro" formControlName="parceiro">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="parceiroOption.id === editForm.get('parceiro')!.value?.id ? editForm.get('parceiro')!.value : parceiroOption"
              *ngFor="let parceiroOption of parceirosSharedCollection; trackBy: trackParceiroById"
            >
              {{ parceiroOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
