<div>
  <h2 id="page-heading" data-cy="CarteiraHeading">
    <span jhiTranslate="uNextApp.carteira.home.title">Carteiras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="uNextApp.carteira.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-carteira"
        [routerLink]="['/carteira/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="uNextApp.carteira.home.createLabel"> Create a new Carteira </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="carteiras?.length === 0">
    <span jhiTranslate="uNextApp.carteira.home.notFound">No carteiras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="carteiras && carteiras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="uNextApp.carteira.titular">Titular</span></th>
          <th scope="col"><span jhiTranslate="uNextApp.carteira.numeroConta">Numero Conta</span></th>
          <th scope="col"><span jhiTranslate="uNextApp.carteira.tipoCarteira">Tipo Carteira</span></th>
          <th scope="col"><span jhiTranslate="uNextApp.carteira.cliente">Cliente</span></th>
          <th scope="col"><span jhiTranslate="uNextApp.carteira.parceiro">Parceiro</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carteira of carteiras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/carteira', carteira.id, 'view']">{{ carteira.id }}</a>
          </td>
          <td>{{ carteira.titular }}</td>
          <td>{{ carteira.numeroConta }}</td>
          <td>
            <div *ngIf="carteira.tipoCarteira">
              <a [routerLink]="['/tipo-carteira', carteira.tipoCarteira?.id, 'view']">{{ carteira.tipoCarteira?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="carteira.cliente">
              <a [routerLink]="['/cliente', carteira.cliente?.id, 'view']">{{ carteira.cliente?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="carteira.parceiro">
              <a [routerLink]="['/parceiro', carteira.parceiro?.id, 'view']">{{ carteira.parceiro?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/carteira', carteira.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/carteira', carteira.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(carteira)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
