<div>
  <h2 id="page-heading" data-cy="ClienteHeading">
    <span jhiTranslate="uNextApp.cliente.home.title">Clientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="uNextApp.cliente.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cliente"
        [routerLink]="['/cliente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="uNextApp.cliente.home.createLabel"> Create a new Cliente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span jhiTranslate="uNextApp.cliente.home.notFound">No clientes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span jhiTranslate="uNextApp.cliente.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sobrenome">
            <span jhiTranslate="uNextApp.cliente.sobrenome">Sobrenome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cpfcnpj">
            <span jhiTranslate="uNextApp.cliente.cpfcnpj">Cpfcnpj</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tefelone">
            <span jhiTranslate="uNextApp.cliente.tefelone">Tefelone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email"><span jhiTranslate="uNextApp.cliente.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rua"><span jhiTranslate="uNextApp.cliente.rua">Rua</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numero"><span jhiTranslate="uNextApp.cliente.numero">Numero</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bairro"><span jhiTranslate="uNextApp.cliente.bairro">Bairro</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cep"><span jhiTranslate="uNextApp.cliente.cep">Cep</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cidade"><span jhiTranslate="uNextApp.cliente.cidade">Cidade</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="estado"><span jhiTranslate="uNextApp.cliente.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.id"><span jhiTranslate="uNextApp.cliente.user">User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let cliente of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a>
          </td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.sobrenome }}</td>
          <td>{{ cliente.cpfcnpj }}</td>
          <td>{{ cliente.tefelone }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.rua }}</td>
          <td>{{ cliente.numero }}</td>
          <td>{{ cliente.bairro }}</td>
          <td>{{ cliente.cep }}</td>
          <td>{{ cliente.cidade }}</td>
          <td>{{ cliente.estado }}</td>
          <td>
            {{ cliente.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
