<div>
  <h2 id="page-heading" data-cy="TipoMaquinarioHeading">
    <span jhiTranslate="uNextApp.tipoMaquinario.home.title">Tipo Maquinarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="uNextApp.tipoMaquinario.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tipo-maquinario"
        [routerLink]="['/tipo-maquinario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="uNextApp.tipoMaquinario.home.createLabel"> Create a new Tipo Maquinario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tipoMaquinarios?.length === 0">
    <span jhiTranslate="uNextApp.tipoMaquinario.home.notFound">No tipoMaquinarios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tipoMaquinarios && tipoMaquinarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="uNextApp.tipoMaquinario.descricao">Descricao</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipoMaquinario of tipoMaquinarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tipo-maquinario', tipoMaquinario.id, 'view']">{{ tipoMaquinario.id }}</a>
          </td>
          <td>{{ tipoMaquinario.descricao }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tipo-maquinario', tipoMaquinario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tipo-maquinario', tipoMaquinario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tipoMaquinario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
