<div>
  <h2 id="page-heading" data-cy="ParceiroHeading">
    <span jhiTranslate="uNextApp.parceiro.home.title">Parceiros</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="uNextApp.parceiro.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parceiro"
        [routerLink]="['/parceiro/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="uNextApp.parceiro.home.createLabel"> Create a new Parceiro </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parceiros?.length === 0">
    <span jhiTranslate="uNextApp.parceiro.home.notFound">No parceiros found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parceiros && parceiros.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomeFantasia">
            <span jhiTranslate="uNextApp.parceiro.nomeFantasia">Nome Fantasia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="razaoSocial">
            <span jhiTranslate="uNextApp.parceiro.razaoSocial">Razao Social</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cnpj"><span jhiTranslate="uNextApp.parceiro.cnpj">Cnpj</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tefelone">
            <span jhiTranslate="uNextApp.parceiro.tefelone">Tefelone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email"><span jhiTranslate="uNextApp.parceiro.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rua"><span jhiTranslate="uNextApp.parceiro.rua">Rua</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numero">
            <span jhiTranslate="uNextApp.parceiro.numero">Numero</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bairro">
            <span jhiTranslate="uNextApp.parceiro.bairro">Bairro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cep"><span jhiTranslate="uNextApp.parceiro.cep">Cep</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cidade">
            <span jhiTranslate="uNextApp.parceiro.cidade">Cidade</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estado">
            <span jhiTranslate="uNextApp.parceiro.estado">Estado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id"><span jhiTranslate="uNextApp.parceiro.user">User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let parceiro of parceiros; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parceiro', parceiro.id, 'view']">{{ parceiro.id }}</a>
          </td>
          <td>{{ parceiro.nomeFantasia }}</td>
          <td>{{ parceiro.razaoSocial }}</td>
          <td>{{ parceiro.cnpj }}</td>
          <td>{{ parceiro.tefelone }}</td>
          <td>{{ parceiro.email }}</td>
          <td>{{ parceiro.rua }}</td>
          <td>{{ parceiro.numero }}</td>
          <td>{{ parceiro.bairro }}</td>
          <td>{{ parceiro.cep }}</td>
          <td>{{ parceiro.cidade }}</td>
          <td>{{ parceiro.estado }}</td>
          <td>
            {{ parceiro.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parceiro', parceiro.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/parceiro', parceiro.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(parceiro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
