<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="maquinario">
      <h2 data-cy="maquinarioDetailsHeading"><span jhiTranslate="uNextApp.maquinario.detail.title">Maquinario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ maquinario.id }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.maquinario.nome">Nome</span></dt>
        <dd>
          <span>{{ maquinario.nome }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.maquinario.modelo">Modelo</span></dt>
        <dd>
          <span>{{ maquinario.modelo }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.maquinario.anoFabricacao">Ano Fabricacao</span></dt>
        <dd>
          <span>{{ maquinario.anoFabricacao | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.maquinario.capacidadeLitro">Capacidade Litro</span></dt>
        <dd>
          <span>{{ maquinario.capacidadeLitro }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.maquinario.volumeMinuto">Volume Minuto</span></dt>
        <dd>
          <span>{{ maquinario.volumeMinuto }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.maquinario.descricao">Descricao</span></dt>
        <dd>
          <span>{{ maquinario.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="uNextApp.maquinario.historicoLocacao">Historico Locacao</span></dt>
        <dd>
          <div *ngIf="maquinario.historicoLocacao">
            <a [routerLink]="['/historico-locacao', maquinario.historicoLocacao?.id, 'view']">{{ maquinario.historicoLocacao?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="uNextApp.maquinario.tipoMaquinario">Tipo Maquinario</span></dt>
        <dd>
          <div *ngIf="maquinario.tipoMaquinario">
            <a [routerLink]="['/tipo-maquinario', maquinario.tipoMaquinario?.id, 'view']">{{ maquinario.tipoMaquinario?.descricao }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/maquinario', maquinario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
